<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="seller">
        <route id="rbshippingmatrix" frontName="rbshippingmatrix">
            <module name="Magedelight_Shippingmatrix" />
        </route>
    </router>
</config>
