 

<div class="address-type-wrapper" >
	<div class="step-title" for="address_type_radio" data-bind="i18n: 'Address Type'">
    </div>  

    <div class="field choice">
    	<input type="radio" class="radio" id= "address_type_provience" value="1" name="address_type_radio" data-bind="checked: saveAddressType"/>

    	<label class="label" >
            <span data-bind="i18n: 'Province Center'"></span>
        </label>  
			 
	</div>

	<div class="field choice">
		<input type="radio" class="radio" id= "address_type_outer" value="0" name="address_type_radio" data-bind="checked: saveAddressType"/>

		<label class="label" >
            <span data-bind="i18n: 'Outer City'"></span>
        </label> 
			 
	</div>
        
</div>


