<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="pushnotification" translate="label" type="text" sortOrder="1009" showInDefault="1" showInWebsite="1" showInStore="1">

			<group id="customerwisenotification" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Remove Customer's Garbage Notifications</label>
                <field id="cron_enable" translate="label" type="select" sortOrder="3" showInDefault="1" >
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends> <field id="enable">1</field> </depends>
                </field>

                <field id="cron_frequency" translate="label" type="select" showInDefault="1"  sortOrder="4">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Ktpl\ExtendedPushNotification\Model\Config\Backend\CronOption</backend_model> 
                    <depends>
                        <field id="enable">1</field>
                        <field id="cron_enable">1</field>
                    </depends>
                </field>
                <field id="time" translate="label" type="time" showInDefault="1" sortOrder="5">
                    <label>Time</label>
                    <depends> 
                           <field id="enable">1</field>
                           <field id="cron_enable">1</field>
                     </depends>
                </field>
                <depends><field id="customerwisenotification/general/enable">1</field> </depends>
			</group>
		</section>
	</system>
</config>