<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* Magedelight
* Copyright (C) 2019 Magedelight <info@magedelight.com>
*
* @category Magedelight
* @package Magedelight_User
* @copyright Copyright (c) 2019 Mage Delight (http://www.magedelight.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author Magedelight <info@magedelight.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magedelight_Theme::vendor">
					<resource id="Magedelight_Theme::addons">
						<resource id="Magedelight_User::manage_vendor_user" title="Manage Vendor User Permission" sortOrder="70">
							<resource id="Magedelight_User::view_detail_vendor_user" title="View Detail" sortOrder="10" />
							<resource id="Magedelight_User::edit_vendor_user" title="Add / Edit" sortOrder="20" />
							<resource id="Magedelight_User::delete_vendor_user" title="Delete" sortOrder="30" />
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
