/**
 * Copyright � 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

& when (@media-common = true) {

    .rbcatalog-offer-edit {
        background: #ffffff;
        .menu-wrapper {
            display: none;
        }
        .page-wrapper {
            width: 100%;
        }
    }

    .vendor-offer-actions {
        float: right;
        .scalable {
            background-color: #514943;
            border-color: #514943;
            color: #ffffff;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            font-size: 1.6rem;
            letter-spacing: .025em;
            padding-bottom: 0.6875em;
            padding-top: 0.6875em;
        }
    }

}



