<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        
       <section id="pickups_points" translate="label" type="text" sortOrder="3000" showInDefault="1">

         <label><![CDATA[Pickup Points]]></label>
            <tab>ktpl_tabs</tab>
            <resource>MDC_PickupPoints::system_config</resource>

            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" >
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

       </section>
    </system>
</config>
