<?xml version="1.0"?>
<!--
 /**
  * KrishTechnolabs
  *
  * PHP version 7
  *
  * @category  KrishTechnolabs
  * @package   MDC_Commissions
  * @copyright 2019 (c) KrishTechnolabs (https://www.KrishTechnolabs.com/)
  * @license   https://www.krishtechnolabs.com/LICENSE.txt Krish License
  * @link      https://www.krishtechnolabs.com/
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magedelight\SocialLogin\Controller\Account\LoginPost" type="MDC\SocialLogin\Controller\Account\LoginPost" />
    <preference for="Magento\Customer\Block\Widget\Dob" type="MDC\SocialLogin\Block\Widget\Dob" />
</config>