<?xml version="1.0"?>
<!--
/**
 * Copyright © Krish TechnoLabs, All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ktpl\Wishlist\Api\WishlistManagerInterface" type="Ktpl\Wishlist\Model\WishlistManager" />
    <preference for="Magento\Wishlist\CustomerData\Wishlist" type="Ktpl\Wishlist\CustomerData\Wishlist" />
</config>