<?xml version="1.0" ?>
<!--
/**
 * Copyright © Krish TechnoLabs, All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ktpl" sortOrder="110" translate="label">
            <label>Ktpl Extensions</label>
        </tab>
        <section id="ktpllazyzoad" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Lazy Load</label>
            <tab>ktpl</tab>
            <resource>Ktpl_LazyLoad::config_ktpl_lazyload</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <attribute type="expanded">1</attribute>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="lazy_blocks" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="textarea">
                    <label>Lazy Load Blocks</label>
                    <comment>Lazy load functionality will be automatically applied to images inside this blocks. Please enter each block name in a new line.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
