<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="mdc_mobilebanner" id="mdc_mobilebanner">
			<module before="Magento_Backend" name="MDC_MobileBanner"/>
		</route>
	</router>
</config>
