<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="tookan_order_export_grid_data_source" xsi:type="string">Ktpl\Tookan\Model\ResourceModel\OrderExport\Grid\Collection</item>
                <item name="tookan_returns_export_grid_data_source" xsi:type="string">Ktpl\Tookan\Model\ResourceModel\ReturnsExport\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Ktpl\Tookan\Model\ResourceModel\Order\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">md_vendor_order</argument>
            <argument name="resourceModel" xsi:type="string">Ktpl\Tookan\Model\ResourceModel\OrderExport</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Ui\Model\Export\MetadataProvider">
        <plugin name="removeTookanStatusFromExport" type="Ktpl\Tookan\Plugin\RemoveTookanFromExport"/>
    </type>
</config>
