<?xml version="1.0"?>
<!--
 /**
  * KrishTechnolabs
  *
  * PHP version 7
  *
  * @category  KrishTechnolabs
  * @package   MDC_VendorCommissions
  * @copyright 2019 (c) KrishTechnolabs (https://www.KrishTechnolabs.com/)
  * @license   https://www.krishtechnolabs.com/LICENSE.txt Krish License
  * @link      https://www.krishtechnolabs.com/
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MDC_VendorCommissions::vendor_category_commission"
             title="By Vendor Category"
             module="MDC_VendorCommissions"
             sortOrder="31"
             parent="Magedelight_Commissions::commission_root"
             action="commissionsadmin/vendorCategoryCommission/"
             resource="Magedelight_Commissions::manage"/>
    </menu>
</config>

