<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Rocket Bazaar. All rights reserved.
 * See COPYING.txt for license details
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <rbmatrixrate>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <condition_name>package_weight</condition_name>
                <include_virtual_price>1</include_virtual_price>
                <model>Magedelight\Shippingmatrix\Model\Carrier\Matrixrate</model>
                <name>Freight</name>
                <title>Select Shipping Method</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
                <is_active_for_vendor>1</is_active_for_vendor>
                <allow_anyhow>0</allow_anyhow>
		<extension_version>1.0.0</extension_version>
            </rbmatrixrate>
        </carriers>
    </default>
</config>
