<?xml version="1.0"?>
<!--
/*
 * Copyright © 2017 Rocket Bazaar. All rights reserved.
 * See COPYING.txt for license details
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <virtualType name="ShippingMethodGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>   
   <virtualType name="ShippingMethodGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magedelight\Shippingmatrix\Model\ResourceModel\ShippingMethod\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ShippingMethodGridFilterPool</argument>
        </arguments>
    </virtualType>
     <virtualType name="Magedelight\Shippingmatrix\Model\ResourceModel\ShippingMethod\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">md_shipping_methods</argument>
            <argument name="resourceModel" xsi:type="string">Magedelight\Shippingmatrix\Model\ResourceModel\ShippingMethod</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="shipping_methods_listing_data_source" xsi:type="string">Magedelight\Shippingmatrix\Model\ResourceModel\ShippingMethod\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
