<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="cat" translate="label" sortOrder="999">
            <label>cat</label>
        </tab>
        <section id="vip" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>VIP</label>
            <tab>cat</tab>
            <resource>CAT_VIP::config_cat_vip</resource>
            <group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>general</label>
                <field id="enable" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>enable</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="qty" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>qty</label>
                    <comment/>
                </field>
            </group>
            <group id="customer" sortOrder="11" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>VIP Customer Configuration</label>
                <field id="order_count" type="text" sortOrder="1" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Minimum Order to become a VIP Customer</label>
                    <validate>required-entry integer no-whitespace </validate>
                    <comment/>
                </field>
                <field id="assignvip" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Cron for Assign VIP status</label>
                </field>
                <field id="unassignvip" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Cron for Unassign VIP status</label>
                </field>
            </group>
        </section>
    </system>
</config>