<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="CAT\AIRecommend\Api\RecommenderBuilderInterface" type="CAT\AIRecommend\Model\RecommenderBuilder"/>
	<preference for="CAT\AIRecommend\Api\Data\RecommenderBuilderResultsInterface" type="CAT\AIRecommend\Model\Data\RecommenderBuilderResults"/>
</config>