<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MDC\Sales\Api\OrderRepositoryInterface" type="MDC\Sales\Model\WebApi\OrderRepository"/>
    <preference for="MDC\Sales\Api\OrderStatusManagerInterface" type="MDC\Sales\Model\WebApi\OrderStatusManager"/>
</config>