<?xml version="1.0"?>
<!--
/**
 * Magedelight
 * Copyright (C) 2019 Magedelight <info@magedelight.com>
 *
 * @category Magedelight
 * @package Magedelight_Commissions
 * @copyright Copyright (c) 2019 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="model_save_before">
        <observer name="catalogmodelsavebefore" instance="Magedelight\Commissions\Observer\BeforeCatalogModelSave" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="catalogproductsaveafter" instance="Magedelight\Commissions\Observer\VendorProductCommissionSaveAfter" />
    </event>
    <event name="vendor_commission_save">
        <observer name="vendorcommissionsave" instance="Magedelight\Commissions\Observer\VendorCommissionSave" />
    </event>
    <event name="vendor_payment_status_change">
        <observer name="vendorpaymentstatuschange" instance="Magedelight\Commissions\Observer\VendorPaymentStatusChange" />
    </event>
    <event name="vendor_category_commission_save">
        <observer name="vendorcategorycommissionsave" instance="Magedelight\Commissions\Observer\VendorCategoryCommissionSave" />
    </event>
</config>
