<?xml version="1.0"?>
<!--
/**
 * Magedelight
 * Copyright (C) 2019 Magedelight <info@magedelight.com>
 *
 * @category Magedelight
 * @package Magedelight_Commissions
 * @copyright Copyright (c) 2019 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Main Root Menu -->
        <add id="Magedelight_Commissions::commission_root"
             title="Manage Commission"
             module="Magedelight_Commissions"
             sortOrder="50"
             resource="Magedelight_Commissions::commissions"
             toolTip="magedelight_base" />

        <add id="Magedelight_Commissions::commission_root_commonlyvisible"
             title="Manage Commission"
             module="Magedelight_Commissions"
             sortOrder="10"
             action="commissionsadmin/categorycommission/"
             parent="Magedelight_Theme::md_modules"
             resource="Magedelight_Commissions::commissions" />

        <!-- Added Menu Items -->
        <add id="Magedelight_Commissions::categorycommission"
             title="By Category"
             module="Magedelight_Commissions"
             sortOrder="30"
             parent="Magedelight_Commissions::commission_root"
             action="commissionsadmin/categorycommission/"
             resource="Magedelight_Commissions::manage"/>

        <add id="Magedelight_Commissions::vendorcommission"
             title="By Vendor"
             module="Magedelight_Commissions"
             sortOrder="40"
             parent="Magedelight_Commissions::commission_root"
             action="commissionsadmin/vendorcommission/"
             resource="Magedelight_Commissions::manage"/>


        <!-- Added Vendor Payment Root Menu -->
        <add id="Magedelight_Commissions::payment_root"
             title="Vendor Payment"
             module="Magedelight_Commissions"
             sortOrder="50"
             resource="Magedelight_Commissions::payment"
             toolTip="magedelight_base" />

        <add id="Magedelight_Commissions::payment_root_commonlyvisible"
             title="Vendor Payment"
             module="Magedelight_Commissions"
             sortOrder="10"
             action="commissionsadmin/payment/"
             parent="Magedelight_Theme::md_modules"
             resource="Magedelight_Commissions::payment" />

        <add id="Magedelight_Commissions::payment_pending" title="Pending" module="Magedelight_Commissions" sortOrder="40" parent="Magedelight_Commissions::payment_root" action="commissionsadmin/payment/" resource="Magedelight_Commissions::pending"/>
        <add id="Magedelight_Commissions::payment_paid" title="Paid" module="Magedelight_Commissions" sortOrder="50" parent="Magedelight_Commissions::payment_root" action="commissionsadmin/payment/paid" resource="Magedelight_Commissions::paid"/>
    </menu>
</config>
