<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <bnpl>
                <active>0</active>
                <model>CAT\Bnpl\Model\Bnpl</model>
                <order_status>pending</order_status>
                <title>Buy Now Pay Later (BNPL)</title>
                <instructions>Instructions.</instructions>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </bnpl>
        </payment>
    </default>
</config>
