<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="tamata_collect" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Tamata Collect</label>
			<tab>cat</tab>
			<resource>CAT_TamataCollect::config_cat_tamatacollect</resource>
			<group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>general</label>
				<field id="enable" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="option_id" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Option ID</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
