<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ajaxscroll>
            <settings>
                <active>1</active>
                <triggerpage_threshold>2</triggerpage_threshold>
                <use_previous>1</use_previous>
            </settings>
            <gototop>
                <enabled_gototop>1</enabled_gototop>
                <trigger>500</trigger>
                <location_offset>20</location_offset>
                <bottom_offset>10</bottom_offset>
                <container_size>40</container_size>
                <container_radius>10</container_radius>
                <hide_under_width>500</hide_under_width>
                <container_color>000</container_color>
                <arrow_color>fff</arrow_color>
                <text_hover>Go To Top</text_hover>
                <zindex>1</zindex>
                <location>right</location>
                <goup_speed>slow</goup_speed>
            </gototop>
            <btn_loadmore>
                <text_btn_loadmore>Load more items</text_btn_loadmore>
                <text_btn_prev>Load previous items</text_btn_prev>
                <text_end_load>There are no more pages left to load.</text_end_load>
                <background_btn_loadmore>eeeeee</background_btn_loadmore>
                <color_btn_loadmore>333333</color_btn_loadmore>
            </btn_loadmore>
        </ajaxscroll>
    </default>
</config>