<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="CAT_GiftCard::cat_giftcardrule" title="Gift Card Rules" translate="title" module="CAT_GiftCard" sortOrder="41" parent="Magento_CatalogRule::promo" action="giftcardrule/rules" dependsOnModule="CAT_GiftCard" resource="CAT_GiftCard::cat_giftcardrule"/>
    </menu>
</config>
