<?xml version="1.0"?>
<!--
/**
 * Magedelight
 * Copyright (C) 2019 Magedelight <info@magedelight.com>
 *
 * @category Magedelight
 * @package Magedelight_Theme
 * @copyright Copyright (c) 2019 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magedelight_Theme::md_base_root"
             title="Rocket Bazaar"
             module="Magedelight_Theme"
             sortOrder="10"
             resource="Magedelight_Theme::vendor" />

        <add id="Magedelight_Theme::md_modules"
             title="Modules"
             module="Magedelight_Theme"
             sortOrder="10"
             parent="Magedelight_Theme::md_base_root"
             resource="Magedelight_Theme::vendor" />


        <add id="Magedelight_Theme::addons" resource="Magedelight_Theme::addons" module="Magedelight_Vendor" title="RB Add-ons" sortOrder="10"/>
    </menu>
</config>
