<?xml version="1.0"?>
<!--
/**
 * Copyright © Krish TechnoLabs, All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ktpllazyzoad>
            <general>
                <lazy_blocks>footer
category.products.list
search_result_list
catalog.product.related
product.info.upsell
product.info.details
checkout.cart.crosssellgit</lazy_blocks>
            </general>
        </ktpllazyzoad>
    </default>
</config>
