<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<barcode_generator>
			<general>
				<enable>1</enable>
				<barcode_format>C128</barcode_format>
				<max_width>300</max_width>
				<height>30</height>
			</general>
		</barcode_generator>
	</default>
</config>
