<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ktpl_ExtendedCheckoutApi" setup_version="1.0.0">
	    <sequence>
			<module name="Magedelight_Quote"/>
			<module name="MDC_Catalog"/>
	    </sequence>
    </module>
</config>
