<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magedelight\Catalog\Controller\Sellerhtml\Listing\ExportNonLiveProducts" type="MDC\Catalog\Controller\Sellerhtml\Listing\ExportNonLiveProducts" />
    <preference for="Magedelight\Catalog\Block\Sellerhtml\Listing\Live" type="MDC\Catalog\Block\Sellerhtml\Listing\Live" />
    <preference for="Magedelight\Catalog\Block\Sellerhtml\Listing\Nonlive\Pending" type="MDC\Catalog\Block\Sellerhtml\Listing\Nonlive\Pending" />
    <preference for="Magedelight\Catalog\Block\Sellerhtml\Listing\Nonlive\Approved" type="MDC\Catalog\Block\Sellerhtml\Listing\Nonlive\Approved" />
    <preference for="Magedelight\Catalog\Block\Sellerhtml\Listing\Nonlive\Disapproved" type="MDC\Catalog\Block\Sellerhtml\Listing\Nonlive\Disapproved" />
</config>
