<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Krish TechnoLabs, All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ktpl_ExtendedCheckout" setup_version="1.0.0">
    	<sequence>
            <module name="Magento_Checkout" />
        </sequence>
    </module>
</config>
