<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">        

    <!-- Cart Interface for custom API-->
    <preference for="Magedelight\Quote\Api\CartInterface" type="Magedelight\Quote\Model\Cart"/>

    <!-- Shipping Information for custom Api - Used for store shipping address by address id & shipping method code -->
    <preference for="Magedelight\Quote\Api\ShippingInformationManagementByIdInterface" type="Magedelight\Quote\Model\ShippingInformationManagementById" />
</config>