<?xml version="1.0"?>
<!--
/**
 * Copyright © Krish TechnoLabs, All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="Ktpl_OrderComment::add_comment_to_quote" instance="Ktpl\OrderComment\Observer\AddCommentToQuote" />
        <observer name="Ktpl_OrderComment::add_comment_from_quote_to_order"
                  instance="Ktpl\OrderComment\Observer\AddCommentFromQuoteToOrder" />
    </event>
</config>
