<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <!--<item name="google_map_provider" xsi:type="object">Ktpl\GoogleMapAddress\Model\ConfigProvider</item>-->
                <item name="google_map_provider" xsi:type="object">Ktpl\GoogleMapAddress\Model\AutocompleteConfigProvider</item>

                <item name="pickup_points_provider" xsi:type="object">Ktpl\GoogleMapAddress\Model\PickupPointsConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="checkout_shipping" type="Ktpl\GoogleMapAddress\Model\Plugin\Checkout\LayoutProcessor" sortOrder="150"/>
    </type>
</config>