<?xml version="1.0"?>
<!--
/**
 * KrishTechnolabs
 *
 * PHP version 7
 *
 * @category  KrishTechnolabs
 * @package   Ktpl_ElasticSearch
 * @author    Dhara Bhatti <dhara.bhatti@krishtechnolabs.com>
 * @copyright 2019 (c) KrishTechnolabs (https://www.KrishTechnolabs.com/)
 * @license   https://www.krishtechnolabs.com/LICENSE.txt Krish License
 * @link      https://www.krishtechnolabs.com/
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Ktpl\ElasticSearch\Block\Result">
        <plugin name="ktplSearchHighlight" type="Ktpl\ElasticSearch\Plugin\HighlightPlugin"/>
        <plugin name="ktplSearchSingleResult" type="Ktpl\ElasticSearch\Plugin\SingleResultPlugin"/>
    </type>

    <type name="Magento\Framework\App\Response\HttpInterface">
        <plugin name="ktplSearchNoRoute" type="Ktpl\ElasticSearch\Plugin\NoRoutePlugin"/>
    </type>

</config>