<?xml version="1.0"?>
<!--
/**
 * Copyright © MDC, All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MDC\OrderDeviceId\Api\Data\OrderDeviceIdInterface" type="MDC\OrderDeviceId\Model\Data\OrderDeviceId" />
    <preference for="MDC\OrderDeviceId\Api\OrderDeviceIdManagementInterface" type="MDC\OrderDeviceId\Model\OrderDeviceIdManagement" />
    <preference for="MDC\OrderDeviceId\Api\GuestOrderDeviceIdManagementInterface" type="MDC\OrderDeviceId\Model\GuestOrderDeviceIdManagement" />

    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="device_id" xsi:type="string">sales_order.device_id</item>
            </argument>
        </arguments>
    </virtualType>
</config>