<?xml version="1.0"?>
<!--
/**
* Magedelight
* Copyright (C) 2018 Magedelight <info@magedelight.com>
*
* @category Magedelight
* @package Magedelight_Abandonedcart
* @copyright Copyright (c) 2018 Mage Delight (http://www.magedelight.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author Magedelight <info@magedelight.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magedelight\Abandonedcart\Block\Adminhtml\UrlBuilder">
        <arguments>
            <argument name="frontendUrlBuilder" xsi:type="object">Magento\Framework\Url</argument>
        </arguments>
    </type>
    <type name="Magento\Backend\Model\Menu\Item">
        <plugin name="md_abandonedcart_menu_item_newtab" type="Magedelight\Abandonedcart\Plugin\Magento\Backend\Model\Menu\Item" />
    </type>
    <preference for="Magento\Ui\Model\Export\MetadataProvider" type="Magedelight\Abandonedcart\Model\Export\MetadataProvider" />
    <type name="Magento\Reports\Model\ResourceModel\Refresh\Collection">
        <plugin name="Magedelight_Abandonedcart_report_mycustomreport" type="Magedelight\Abandonedcart\Plugin\Magento\Reports\Model\ResourceModel\Refresh\Collection" sortOrder="1" />
    </type>
    <type name="Magento\Reports\Controller\Adminhtml\Report\Statistics">
        <arguments>
            <argument name="reportTypes" xsi:type="array">
                <item name="mycustomreport" xsi:type="string">Magedelight\Abandonedcart\Model\ResourceModel\Report\MyCustomReport</item>
            </argument>
        </arguments>
    </type>
</config>
