<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ktpl\PromoCallouts\Api\PromoCalloutsManagementInterface" type="Ktpl\PromoCallouts\Model\PromoCalloutsManagement"/>
    <preference for="Ktpl\PromoCallouts\Api\Data\VendorInterface" type="Ktpl\PromoCallouts\Model\Vendor"/>
</config>
