<div class="admin__field">
    <label class="admin__field-label">
        <span>&nbsp</span>
    </label>
    <div class="admin__field-control">
        <div data-bind="i18n:'Please note, that it is possible to launch queue generation and optimization with the following CLI command:'"></div>
        <div class="amasty-page-code">
            php bin/magento amasty:optimizer:optimize
        </div>
        <div data-bind="i18n:'You may also optimize images in bulk using the following command (here 4 is the number of threads):'"></div>
        <div class="amasty-page-code">
            bin/magento amasty:optimizer:optimize -j 4
        </div>
        <div data-bind="i18n:'Moreover, you can specify the particular pattern (i is the id of the pattern):'"></div>
        <div class="amasty-page-code">
            bin/magento amasty:optimizer:optimize -j 4 -i 2
        </div>
    </div>
</div>
